@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* Start Normalization */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
/* End Normalization */
body{
    background: #f4f4f4;
}

.container{
    max-width: 1200px;
    margin: auto;
}
.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 40px;
}
.btn-container > h1{
    font-family:  'Poppins', sans-serif;
}
.btn-list{
    background: #ffffff;
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5%;
    font-family:  'Poppins', sans-serif;
}
.btn{
    height: 80%;
    width: 30%;
    background: none;
    border: none;
    cursor: pointer;
    color: #CECECE;
    font-size: 25px;
    font-family:  'Poppins', sans-serif;
}
.btn-blue{
    background: #3E86F5;
    color: #ffffff;
    height: 80%;
    border-radius: 10%;
}

.btn-light{
    background: #CECECE;
    color: #8081F2;
    border: none;
    height: 20px;
    border-radius: 10%;
}
.btn-light2{
    background: #CECECE;
    color: #8081F2;
    border: none;
    height: 30px;
    border-radius: 10%;
}


.box-container{
    display:flex;
    justify-content: space-between;
    width: 100%;
}
.destination-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .adventure{
    display: flex;
    justify-content: space-around;
  }

  .pricing{
    display: flex;
    justify-content: space-around;
  }
  
  .destination-date {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .destination-headers {
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .destination-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  
.destination-box {
    width: 23.33%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
  }
  .des-display{
    display: flex;
  }
  
  .destination-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .destination-box img {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .destination-box p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  /* styles for screens smaller than 768px (i.e. mobile devices) */
  @media (max-width: 768px) {
    .destination-box {
      width: 100%;
      float: none;
    }
  }
