
/* Start Normalization */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* End Normalization */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;500;700&display=swap');

:root{
    --blue-primary:#3E86F5;
    --white-primary:#FFFFFF;
    --black-primary:#000000;
}

html,body{
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f4f4f4;
}



.dividesinhalf {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 6rem;
}

.img {
    position: relative;
    background: url(./assest/unsplash_tQpypKA92k8.png)no-repeat center center/contain;
    width: 280px;
    height: 600px;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    top: 70%;
    right: -3.5rem;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 4rem;
    border-radius: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    bottom: 40%;
    left: -3.5rem;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 4rem;
    border-radius: 20px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    width: 100px;
    height: 4rem;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 20%;
    right: -3.5rem;
}

.abouthenumber {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 0.6rem;
    color: rgba(0, 0, 0, 0.5);
    color: #000000;
}

.number {
    font-weight: 600;
    color: #3E86F5
}

h5 {
    margin-top: 1rem;
    font-size: x-small;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.3rem;
    width: 34vw;
}

.margin {
    font-family: Poppins;
    width: 16.1rem;
    color: #000000;
    margin-top: 38%;
    font-weight: 600;
    line-height: 42px;
    font-size: 28px;
}

.contactbutton {
    color: #fff;
    background-color: #000000;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background: #3E86F5;
    border: none;
    margin-top: 20px;
}

.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 40px;
}
.btn-container > h1{
    font-family:  'Poppins', sans-serif;
}
.btn-list{
    background: #ffffff;
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5%;
    font-family:  'Poppins', sans-serif;
}
.btn{
    height: 80%;
    width: 30%;
    background: none;
    border: none;
    cursor: pointer;
    color: #CECECE;
    font-size: 25px;
    font-family:  'Poppins', sans-serif;
}
.btn-blue{
    background: #3E86F5;
    color: #ffffff;
    height: 80%;
    border-radius: 10%;
}

.btn-light{
    background: #CECECE;
    color: #8081F2;
    border: none;
    height: 20px;
    border-radius: 10%;
}
.btn-light2{
    background: #CECECE;
    color: #8081F2;
    border: none;
    height: 30px;
    border-radius: 10%;
}


.box-container{
    display:flex;
    justify-content: space-between;
    width: 100%;
}
.destination-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .adventure{
    display: flex;
    justify-content: space-around;
  }

  .pricing{
    display: flex;
    justify-content: space-around;
  }
  
  .destination-date {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .destination-headers {
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .destination-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  
.destination-box {
    width: 23.33%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
  }
  .des-display{
    display: flex;
  }
  
  .destination-box h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .destination-box img {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .destination-box p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  /* styles for screens smaller than 768px (i.e. mobile devices) */
  @media (max-width: 768px) {
    .destination-box {
      width: 100%;
      float: none;
    }
  }

/* Start Landing Style */
.landing{
    height: 100vh;
    background-image: url(asset/landing.png);
    color: var(--white-primary);
    background-repeat: no-repeat;
    background-size: cover;
}
.landing  header {
    padding: 20px 0;
}
.landing  header .logo{
    font-weight: 100;
    font-size: 48px;
}
.landing  header menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.landing  header menu a{
    color: var(--white-primary);
    margin-right: 30px;
    font-size: 24px;
    text-decoration: none;
}
.landing  header menu a.selected{
    color: var(--blue-primary);
    background: var(--white-primary);
    padding: 10px 25px;
    border-radius: 10px;
}
.landing .text{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 70%;
    margin: auto;
}
.landing .text p.discover{
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    line-height: 96px;
}
.landing .text p.explore{
    font-size:24px;
    line-height: 48px;
}
/* End Landing Style */

